* {
    margin: 0;
    padding: 10;
    box-sizing: border-box;
}
.background {
    background-image: url("./images/background.jpg");
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;
    width: 100%;
}
nav {
    background-color: #46a6f9;
    padding: 30px;
}
ul {
    list-style-type: none;
    padding: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
li {
    font-size: 40px;
    margin: 0 20px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #79bffb;
}
a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.logo {
    height: 150px;
    width: 100px;
    background: transparent;
    margin: 0;
    padding: 0;
    display: inline-block;
}