* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("./images/background.jpg");
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;
    width: 100%;
}
.logo {
    margin-left: 100px;
}
.cust-nav-bar {
    justify-content: space-evenly;
    align-items: center; 
    font-size: 30px;
}
.nav-item {
    padding-right: 25px;
    margin: 5px;
}
