    <script type='module'>
      import saveItem from '/favorites.js';
    </script>
    <script>
    $(document).ready(function() {
      var resultContainer = $("#result-container");
      $("form").submit(function(event) {
        event.preventDefault();
        var muscle = $("#muscle").val();
        var name = $("#name").val();
        var type = $("#type").val();
        var difficulty = $("#difficulty").val();
        var instructions = $("#instructions").val();
        searchExercises(muscle, name, type, difficulty, instructions);
      });

      function searchExercises(muscle, name, type, difficulty, instructions) {
        $.ajax({
          url: 'https://api.api-ninjas.com/v1/exercises',
          headers: {
            'X-Api-Key': 'Xb/8y5d1vpgSJrMT3IJR3w==xkE9qZbCraaAFbxJ'
          },
          data: {
            muscle: muscle,
            name: name,
            type: type,
            difficulty: difficulty,
            instructions: instructions,
          },
          success: function(results) {
            console.log(results[0]);
            displayResults(results);
          },
          error: function(error) {
            console.error('Request failed:', error);
          }
        });
      }

      function displayResults(results) {
        resultContainer.empty();
        var favLink = $("<p>").text("Add to favorites");

        if (results.length == 0) {
          resultContainer.append("<p>No exercises found.</p>");
        } else {
          for (var i = 0; i < results.length; i++) {
            var exercise = results[i];
            var exerciseItem = $("<div>").addClass("exercise-item");
            var favLink = $("<p>").text("Add to favorites").addClass('fav-link');
            exerciseItem.append(favLink);
            exerciseItem.append($("<h2>").text(exercise.name));
            exerciseItem.append($("<p>").text("Type: " + exercise.type));
            exerciseItem.append($("<p>").text("Muscle: " + exercise.muscle));
            exerciseItem.append($("<p>").text("Difficulty: " + exercise.difficulty));
            exerciseItem.append($("<p>").text("Instructions: " + exercise.instructions));
            resultContainer.append(exerciseItem);
          }
        }
      }
      resultContainer.on('click', function getItem(e) {
        if(e.target.className === 'fav-link') {
          var textItems = e.target.parentNode.children;
          var nameString = `"name": "${textItems[1].innerHTML}"`;
          var typeString = `"type": "${textItems[2].innerHTML}"`;
          var muscleString = `"muscle": "${textItems[3].innerHTML}"`;
          var difficultyString = `"difficulty": "${textItems[4].innerHTML}"`;
          var instructionString = `"instructions": "${textItems[5].innerHTML}"`;
          var jsonString = `{ 
          ${nameString},
          ${typeString},
          ${muscleString},
          ${difficultyString},
          ${instructionString}
          },`
          
          saveItem(jsonString);
        }
      });
    });
  </script>


  <h1 class="title d-flex col-12 justify-content-center">Exercise Search</h1>
  <form class="col-12 text-center" id ="search-form">
    <label for="muscle">Muscle:</label>
    <select id="muscle">
      <option value="">All</option>
      <option value="abdominals">Abdominals</option>
      <option value="abductors">Abductors</option>
      <option value="adductors">Adductors</option>
      <option value="biceps">Biceps</option>
      <option value="calves">Calves</option>
      <option value="chest">Chest</option>
      <option value="forearms">Forearms</option>
      <option value="glutes">Glutes</option>
      <option value="hamstrings">Hamstrings</option>
      <option value="lats">Lats</option>
      <option value="lower_back">Lower Back</option>
      <option value="middle_back">Middle Back</option>
      <option value="neck">Neck</option>
      <option value="quadriceps">Quadriceps</option>
      <option value="traps">Traps</option>
      <option value="triceps">Triceps</option>
    </select>
    <br>
    <label for="name">Exercise Name:</label>
    <input type="text" id="name">
    <br>
    <label for="type">Exercise Type:</label>
    <select id="type">
      <option value="">All</option>
      <option value="cardio">Cardio</option>
      <option value="olympic_weightlifting">Olympic Weightlifting</option>
      <option value="plyometrics">Plyometrics</option>
      <option value="powerlifting">Powerlifting</option>
      <option value="strength">Strength</option>
      <option value="stretching">Stretching</option>
      <option value="strongman">Strongman</option>
    </select>
    <br>
    <label for="difficulty">Difficulty:</label>
    <select id="difficulty">
      <option value="">All</option>
      <option value="beginner">Beginner</option>
      <option value="intermediate">Intermediate</option>
      <option value="expert">Expert</option>
    </select>
    <br>
    <button class="custom-button" type="submit">Search</button>
  </form>
  <div id="result-container"></div>

