
            <div class="container col-xxl-8 px-4 py-5">
                <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                    <div class="col-10 col-sm-8 col-lg-6">
                        <img src="/images/hero2.jpg" class="d-block mx-lg-auto img-fluid" alt="man doing workout" width="700" height="500">
                    </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold lh-1 mb-3">SweatSmart</h1>
                    <p class="lead">
                        SweatSmart is a fitness app that allows you to track your workouts and see your progress.
                        You can also add your favorite exercises and stretches to your favorites page.
                    </p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" id="signup-btn">Sign up</button>
                        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Learn More</button>
                    </div>
                </div>
            </div>
            <section class="new-exercise">
                <div class="container">
                    <div class="columns d-flex justify-content-center">
                        <div class="column col-12 col-md-4">
                            <h1 class="title">New Exercises</h1>
                        </div>
                    </div>    
                </div>
                        <div class="container">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="exercise">
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="/images/example1.jpg" class="card-img-top" alt="cardio">
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="/images/example1.jpg" class="card-img-top" alt="cardio">
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="/images/example1.jpg" class="card-img-top" alt="cardio">
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="/images/example1.jpg" class="card-img-top" alt="cardio">
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="/images/example1.jpg" class="card-img-top" alt="cardio">
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="/images/example1.jpg" class="card-img-top" alt="cardio">
                                </div>
                            </div>

                        </div>
                     </div>

                    </div>
            </section>
            
            <footer class="footer">
                <div class="content text-center">
                    <p>© 2023 SweatSmart. All rights reserved.</p>
                </div>
            </footer>
           
            


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="/js/home.js"></script>
